<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Peso Ideal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-item routerLink="/vendas">
    <ion-icon name="person-outline"></ion-icon>Vendas
  </ion-item>
  <ion-item class="background">
    <ion-label position="floating">Altura (em metros)</ion-label>
    <ion-input type="number" [(ngModel)]="altura"></ion-input>
  </ion-item>
  <ion-item class="background"><ion-label position="floating">Sexo</ion-label>
    <ion-select [(ngModel)]="sexo">
      <ion-select-option value="M">Masculino</ion-select-option>
      <ion-select-option value="F">Feminino</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button expand="block" (click)="calcularPesoIdeal()">Calcular</ion-button>
  <ion-item lines="none" class="background resultado" *ngIf="pesoIdeal !== null">
    <ion-label>Peso ideal:</ion-label>
    <ion-note class="peso" slot="end">{{ pesoIdeal | number:'1.2-2' }} kg</ion-note>
  </ion-item>
  </ion-content>
